{% extends "base.twig" %}
{% block content %}
    <div class="container">
        <h1>/Niveaux</h1>
        <div>
            l'intérieur de la box provient du script view/niveaux.twig.<br/>
            l'extérieur de la box provient du script view/base.twig 
        </div>
        <!-- form ajouter un niveau -->
        <div class="box">
            <h2>Ajouter un enseignant</h2>
            <form action="/enseignants/create" method="POST">
                <input type="text" name="nom" value="" placeholder="Nom" required />
                <input type="text" name="prenom" value="" placeholder="Prenom" required />
                <input type="text" name="login" value="" placeholder="Login" required />
                <input type="password" name="password" value="" placeholder="Password" required />
                <input type="submit" name="/enseignants/create" value="Ajouter" />
            </form>
        </div>
        <!-- todo : recherche d'un niveau  non mis en oeuvre
        <div class="box">
            <h2>Recherche</h2>
            <form action="/niveaux/search" method="POST">
                <input type="text" name="search_term" value="" placeholder="valeur à rechercher" required />
                <input type="submit" name="submit_search_niveau" value="Search" />
            </form>
        </div>
        -->

        <!-- main content output -->
        <div class="box">
            <?php
            $count = $this->sqlBuilder->GetDelete();
            ?>
            <h2>Liste des enseignants({{ count }} éléments)</h2>
            <div>
                <table>
                    <thead>
                        <tr>
                            <td>Id</td>
                            <td>Nom</td>
                            <td>Prenom</td>
                            <td>Login</td>
                            <td>Password</td>
                            <td>supprimer</td>
                            <td>modifier</td>
                        </tr>
                    </thead>
                    <tbody>
                        {% for enseignant in enseignants %}
                            <tr>
                                <td>{{ enseignant.id }}</td>
                                <td>{{ enseignant.nom }}</td>
                                <td>{{ enseignant.prenom }}</td>
                                <td>{{ enseignant.login }}</td>
                                <td>{{ enseignant.password }}</td>
                                <td><a href="/enseignants/delete/{{ enseignant.id }}">delete</a></td>
                                <td><a href="/enseignants/edit/{{ enseignant.id }}">edit</a></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="box">
            <!-- todo : ajouter traitement ajax -->
        </div>
    </div>
{% endblock %}
